.login-content {
    margin-top: 40px;
    padding: 10% 12% 10% 12%;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.login-title {
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.login-form {
    margin-top: 80px;
    justify-content: center;
}

.login-button {
    margin-top: 150px;
    margin-bottom: 140px;
    display: block;
    justify-content: center;
}

.input-email {
    display: flex;
    height: 50px;
}

.input-password-container {
    width: 100%;
    position: relative;
  
    display: flex;
    align-items: center;
}

.input-password {    
    display: flex;
    height: 50px;
}

.hide-show-password {
    margin-left: -10%;
    color: #263238;
}

.input-invalid{
    margin-left: 10px;
    color: #FFF !important;
}