.evaluations-container {
    width: 72.5%;
    height: 600px;
    margin-top: 1%;
    margin-left: 7%;
    padding: 0.5% 1.5% 0.5% 1.5%;
    display: block;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.evaluations-img {
    color: #FFC700;
    width: 15px;
    height: 15px;
    margin: 1.3% 0 1.5% 1%;
}

.evaluations-name {
    margin: 1% 1% 0 1%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFF;
}

.evaluations-form {
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: -1%;
    padding: 0 0.5% 0 0.5%;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    scroll-behavior: auto;
}

.evaluations-text {
    display: block;
    height: 60px;
    width: 90%;
    padding: 0 0.5% 0 1.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}