.back-container {
    text-align: right;
}

.back-text {
    margin: 0 20.5% 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #FFF;
}